.page-link a{
text-decoration: none;
color: black;
border: 3px solid red;
background-color: pink;
padding: 10px;
border-radius: 10%;
box-shadow: 1px 2px 1px;
width: 100%;
}

.page-column{
display: flex;
flex-direction: column;
align-items: stretch;
width: 60%;
}

.page-link{
display: flex;
margin: 20px 0px;
text-align: center;
}
