/*main styles*/

/* site-wide font & sizing */
* {
font-family: 'Courgette', cursive;
box-sizing:border-box;
}

h3 {
font-family: 'Courgette', cursive;
}

/* hide links mobile */
.nonMobileSite-links{
display: none;
}

/* nav-bar styles */
.nav-bar{
display: flex;
justify-content: space-between;
padding: 10px;
position: fixed;
background-color: #f9f9e4;
width: 97%;
margin: 5px;
border-radius: 5px;
}

/* order button styles */
.orderButton a {
text-decoration: none;
color: black;
border: 2px solid black;
background-color: #ffff007d;
border-radius: 10%;
box-shadow: 1px 2px 1px;
width: 100%;
padding: 2px 5px;
}

/* cover image */
.backgroundImage{
height: 35vh;
background: url(oreos.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
}

/* main-body background styles */
#link-container{
display: flex;
background-color: #f9f9e4;
justify-content: center;
}

/* footer styles */
.footer{
background-color: gray;
padding: 30px;
color: white;
height: 20vh;
}
