/* menu page styles */

* {
line-height: 23px;
}

#link-container {
flex-direction: column;
align-items: center;
}

.underline {
text-decoration: underline;
}

.menu-item-container {
display: flex;
flex-direction: column;
align-items: center;
}

.flex-container {
display: flex;
flex-direction: column;
align-items: center;
}