* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
	overflow: hidden;
}

.menu {
  background-color: #B2D6FF;
  height: 30px;
}

.nav-bar{
	position: fixed;
	display: flex;
	justify-content: space-around;
	border: 2px solid red;
	width: 100%;
	height: auto;
	padding: 7px;
	background-color: #ffe5ea;
	top: 0;
	border-radius: 50px;
	align-items: center;
}

.header {
  background-color: #B2D6FF;
	display: flex;
}

li > a {
text-decoration: none;
color: black;
}

a:hover{
background-color: yellow;
}

.images{
width: 100%;
height: auto;
}

.content {
  background-color: #EAEDF0;
  height: 600px;
	border: 2px solid red;
}

.sign-up {
  background-color: #D6E9FE;
	border: 2px solid green;
}

.feature-1 {
  background-color: #F5CF8E;
}

.feature-2 {
  background-color: #F09A9D;
}

.feature-3 {
  background-color: #C8C6FA;
}

.orderButton{
padding: 10px;
border-radius: 30px;
}

Button:hover {
box-shadow: 5px 5px 5px gray;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 100%;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }

.sign-up {
  height: 100px;
  order: 1;
}
.content {
  order: 2;
}
}