*{
box-sizing:border-box;
}

h3{
font-family: 'Courgette', cursive;
}

.page-link a{
text-decoration: none;
color: black;
border: 3px solid red;
background-color: pink;
padding: 10px;
border-radius: 10%;
box-shadow: 1px 2px 1px;
width: 100%;
}

.page-column{
display: flex;
flex-direction: column;
align-items: stretch;
width: 60%;
}

#link-container{
display: flex;
background-color: #f9f9e4;
justify-content: center;
}

.page-link{
display: flex;
margin: 20px 0px;
text-align: center;
}

.nonMobileSite-links{
display: none;
}

.backgroundImage{
//background-color: #fd74d6;
height: 35vh;
background: url(images/oreos.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
}

.nav-bar{
display: flex;
justify-content: space-between;
padding: 10px;
position: fixed;
background-color: #f9f9e4;
width: 100%;
}

.footer{
background-color: gray;
padding: 30px;
color: white;
height: 20vh;
}

.orderButton a {
text-decoration: none;
color: black;
border: 2px solid black;
background-color: #ffff007d;
border-radius: 10%;
box-shadow: 1px 2px 1px;
width: 100%;
padding: 2px 5px;
}